.App {
  text-align: center;
}

.board{
  color: red;
  display: grid;
  grid-template-rows:repeat(3 1fr);
  padding: 2rem;
}

.square{
  width: 100px;
  height: 100px;
  font-size: 100px;
  margin: 0;
}